.container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd;
  margin: 0 auto;
  padding: 10px 0;

  .checkbox {
    margin-right: 15px;
    width: 22px;
    height: 22px;
  }

  .taskContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex: 1;

    .categoryContainer {
      border-radius: 5px;
      padding: 0px 10px;
      position: relative;
      color: #000;
      display: flex;
      align-items: center;
    }

    .content {
      flex: 2;
      font-size: 18px;
      color: #333;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    }

    .category {
      flex: 1;
      text-align: center;
      font-size: 1rem;
      font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    }

    .actionsWrapper {
      position: relative;
      flex: 1;
      display: flex;
      justify-content: space-around;

      .actionIcons {
        display: flex;
        align-items: center;

        button {
          background: none;
          border: none;
          cursor: pointer;
          margin: 0 1rem;

          &:last-child {
            margin-right: 0;
          }

          &.duplicateBtn {
            color: #2980b9;
          }

          &.editBtn {
            color: #f39c12;
          }

          &.deleteBtn {
            color: #27ae60;
          }
        }
      }

      .dropdownBtn {
        display: none;
        background-color: #ac7ce6;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 10px;
        cursor: pointer;
        font-size: 0.9rem;
      }

      .dropdownMenu {
        display: none;
        position: absolute;
        top: 100%; // Below the button
        right: 0;
        background-color: #fff;
        border: 1px solid #e8e7e7;
        border-radius: 5px;
        box-shadow: 0 0.6px 0.6px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        min-width: 100px;
        margin-top: 0.5rem;

        button {
          display: flex;
          align-items: center;
          padding: 10px;
          border: none;
          background: none;
          cursor: pointer;

          &:hover {
            background-color: #f0f0f0;
          }

          .fa-1x {
            margin-right: 8px;
          }

          &.duplicateBtn {
            color: #2980b9;
          }

          &.editBtn {
            color: #f39c12;
          }

          &.deleteBtn {
            color: #27ae60;
          }
        }
      }
    }
  }

  // action menu hide, drop down menu display
  @media screen and (max-width: 480px) {
    .taskContainer {
      display: flex;
      justify-content: space-between;

      .content {
        text-align: start;
        flex: 3;
        font-size: 16px;
      }

      .category {
        flex: 1;
        font-size: 12px;
      }

      .actionsWrapper {
        flex: 1;

        .actionIcons {
          display: none;
        }

        .dropdownBtn {
          display: inline-block;
        }

        .dropdownMenu {
          display: block;
          flex-direction: column;
        }
      }
    }

    .checkbox {
      display: none;
    }
  }
}
