.buttonBase {
  margin-left: 30px;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.25;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);

  @media screen and (max-width: 480px) {
    font-size: 0.65rem;
    padding: calc(0.875rem - 1px) calc(1.2rem - 1px);
    margin-left: 0px;
    min-height: 2.6rem;
  }

  &:hover,
  &:focus {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: rgba(0, 0, 0, 0.65);
  }

  &:hover {
    transform: translateY(-1px);
  }

  &:active {
    background-color: #f0f0f1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
  }
}

.todoPageContainer {
  padding: 20px 100px;
  @media screen and (max-width: 1024px) {
    padding: 20px 30px;
  }

  .todoPageTopContainer {
    .h1 {
      font-family: Georgia, "Times New Roman", Times, serif;
      @media screen and (max-width: 480px) {
        text-align: center;
      }
    }
    .addBtnContainer {
      display: flex;
      justify-content: flex-end;
      @media screen and (max-width: 480px) {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 0.5rem;
      }

      .addBtn {
        @extend .buttonBase;
      }
    }
  }

  .todoPageContentContainer {
    display: flex;
    flex-direction: row;
    @media screen and (max-width: 1024px) {
      gap: 5px;
    }
    @media screen and (max-width: 820px) {
      gap: 2rem;
    }
    @media screen and (max-width: 480px) {
      flex-direction: column;
      gap: 1rem;
    }

    .categoryContainer {
      flex: 1;
      padding-top: 10px;
      @media screen and (max-width: 480px) {
        padding-top: 0;
      }
    }

    .postsContainer {
      flex: 4;

      .deleteALLBtnContainer {
        display: flex;
        justify-content: flex-end;
        margin-top: 20px;
        .deleteALLBtn {
          @extend .buttonBase;
        }
      }

      .addForm {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        @media screen and (max-width: 480px) {
          justify-content: center;
        }
      }
    }
  }
}
